body{
    width: 500px;
    height: 310px;
}

p{
    margin: 5px 5px 5px 5px;
    line-height: 100%;
}

a{
    text-decoration: none;
    color: black;
}

ul {
    list-style:none;
}

.pages{
    float: left;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 0px 0px 0px 0px;
}

.pageicons{
    margin : 5px 5px 5px 5px;
    width: 32px;
    height: 32px;
}

#buttonBoxWrap{
    position: fixed;
    bottom: 5px;
    width: 100%;
    text-align: right;
}

#factoryReset{
    margin-right: 20px;
}

#title{
    margin-left: 20px;
    margin-bottom: 10px;
}
